# MacOS specific
.DS_Store

# Agda specific
*.agdai
MAlonzo/**
project/MAlonzo/**
_build/

# latex specific - za teoretične zapiske
*.aux
*.bcf
*.bcf
*.fdb_latexmk
*.log
*.bbl
*.blg
*.out
*.xmpi
*.fls
*.gz
*.pdf
